* {
    font-family:Arial, Helvetica, sans-serif
}
.container {
    height: 10px;
    width: 800px;
    margin: 0 auto;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

img.octocat {
    height: 200px;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: tan;
    margin: 20px;
    padding: 20px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    margin: 20px;
    padding: 20px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(173, 167, 114);
    margin: 20px;
    padding: 20px;
}