h1 {
    background-color: black;
    color: white;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
}

h3 {
    background-color: cadetblue;
    color: black;
}

h2 {
    text-align: center;
}

h3 { 
    text-align: right;
    text-decoration: underline;
}